version: '3.8'

services:

  db:
    image: mariadb:10
    container_name: local-mariadb
    restart: always
    environment:
    
      MARIADB_ROOT_PASSWORD: mysecret 
      
      MARIADB_DATABASE: dbs14991239
    volumes:
    
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306" 

  adminer:
    image: adminer
    container_name: local-adminer
    restart: always
    ports:
      - "8080:8080" 

volumes:
  db_data: 